.heading {
  font-weight: "500";
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.heading:hover {
  cursor: pointer;
}
.active {
  color: black !important;
  font-weight: 600;
}

.text-error {
  color: red;
  font-weight: 600;
}
