.fp-create-account {
  margin: 0;
  position: relative;
  font-size: var(--h2-size);
  letter-spacing: -1.5px;
  line-height: 34px;
  font-weight: 600;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
}
.fp-create-account-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}

.fp-create-account-wrapper2 {
  align-self: stretch;
  display: grid;
  grid-gap: 15px;
  padding: 0 var(--padding-xl);
}

.fp-add-on,
.fp-label,
.fp-left-content {
  font-family: var(--paragraph-m-bold);
}
.fp-label {
  width: 375px;
  height: 20px;
  position: relative;
  font-size: var(--paragraph-s-medium-size);
  line-height: 20px;
  font-weight: 500;
  color: var(--general-black);
  text-align: left;
  display: none;
  opacity: 0.5;
  max-width: 100%;
}
.fp-add-on,
.fp-left-content {
  font-size: var(--paragraph-m-bold-size);
}
.fp-left-content {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  color: black;
}
.fp-add-on {
  width: 52px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-gray-200);
  text-align: left;
  display: none;
}
.fp-linear-iconseye-slash,
.fp-payments-visa {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  display: none;
}
.fp-payments-visa {
  width: 34px;
  border-radius: var(--br-9xs);
}
.fp-right-content {
  height: 24px;
  width: 120px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-8xs);
  opacity: 1;
}
.fp-input-frame,
.fp-label-frame {
  align-self: stretch;
  display: flex;
}
.fp-input-frame {
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-gray-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px var(--padding-xl);
  gap: var(--gap-xl);
}
.fp-label-frame {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.fp-helper-text {
  width: 400px;
  height: 20px;
  position: relative;
  font-size: var(--paragraph-s-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
  display: block;
  opacity: 0.5;
  max-width: 100%;
  top: 5px;
  left: 15px;
}
.fp-inputs1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.fp-label1 {
  width: 375px;
  height: 20px;
  position: relative;
  font-size: var(--paragraph-s-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
  display: none;
  opacity: 0.5;
  max-width: 100%;
}
.fp-united-kingdom-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fp-generalback-arrow-icon {
  height: 12px;
  width: 12px;
  position: relative;
  object-fit: contain;
}
.fp-united-kingdom-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.fp-left-content-child {
  height: 23px;
  width: 0;
  position: relative;
  object-fit: contain;
}
.fp-input {
  align-self: stretch;
  width: 33px;
  position: relative;
  font-size: var(--paragraph-m-bold-size);
  letter-spacing: -0su-02em;
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-darkslategray);
  text-align: left;
  display: none;
}
.fp-cursor-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-blueviolet);
  width: 100%;
  height: 100%;
}
.fp-cursor,
.fp-input1 {
  position: relative;
}
.fp-cursor {
  height: 20px;
  width: 2px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.fp-input1 {
  font-size: var(--paragraph-m-bold-size);
  line-height: 20px;
  display: inline-block;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
  min-width: 104px;
}
.fp-textcursor-child {
  height: 20px;
  width: 1px;
  position: relative;
  background-color: var(--general-black);
  display: none;
}
.fp-left-content1,
.fp-textcursor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.fp-textcursor {
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.fp-left-content1 {
  align-items: center;
  gap: 15px;
}
.fp-input-frame15,
.fp-label-frame1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.fp-input-frame15 {
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-gray-100);
  flex-direction: row;
  align-items: center;
  padding: 5px 5px 5px 15px;
}
.fp-label-frame1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.fp-helper-text12 {
  width: 400px;
  height: 20px;
  position: relative;
  font-size: var(--paragraph-s-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
  display: none;
  opacity: 1;
  max-width: 100%;
  top: 5px;
  left: 15px;
}
.fp-input-mask,
.fp-label2 {
  align-self: stretch;
  max-width: 100%;
}
.fp-input-mask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.fp-label2 {
  width: 375px;
  position: relative;
  font-size: var(--paragraph-s-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
  display: none;
  opacity: 0.5;
}
.fp-vector {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--general-black);
}
.fp-linear-iconsplaceholder {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.fp-input2 {
  align-self: stretch;
  width: 33px;
  position: relative;
  font-size: var(--paragraph-m-bold-size);
  letter-spacing: -0su-02em;
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-darkslategray);
  text-align: left;
  display: none;
}
.fp-cursor-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-blueviolet);
  width: 100%;
  height: 100%;
}
.fp-cursor1 {
  width: 2px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.fp-checked,
.fp-cursor1,
.fp-input3 {
  height: 20px;
  position: relative;
}
.fp-input3 {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--paragraph-m-bold);
  font-size: var(--paragraph-m-bold-size);
  background-color: transparent;
  flex: 1;
  line-height: 20px;
  font-weight: 700;
  color: var(--general-black);
  text-align: left;
  min-width: 38px;
  padding: 0;
}
.fp-checked {
  width: 1su-5px;
  background-color: var(--general-black);
}
.fp-textcursor1 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-11xs);
}
.fp-left-content-wrapper,
.fp-left-content2,
.fp-textcursor1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fp-left-content2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-8xs);
}
.fp-left-content-wrapper {
  width: 67.5px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.fp-add-on1 {
  width: 52px;
  position: relative;
  font-size: var(--paragraph-m-bold-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--paragraph-m-bold);
  color: var(--color-gray-200);
  text-align: left;
  display: none;
}
.fp-linear-iconseye-slash1 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.fp-payments-visa1 {
  align-self: stretch;
  width: 34px;
  position: relative;
  border-radius: var(--br-9xs);
  max-height: 100%;
  object-fit: cover;
  display: none;
  min-height: 24px;
}
.fp-input-frame2,
.fp-label-frame2,
.fp-right-content1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.fp-right-content1 {
  justify-content: flex-start;
  gap: var(--gap-8xs);
  opacity: 0.5;
}
.fp-input-frame2,
.fp-label-frame2 {
  flex: 1;
  max-width: 100%;
}
.fp-input-frame2 {
  border-radius: var(--br-5xl);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  height: 45px;
}
.fp-label-frame2 {
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.fp-helper-text2,
.fp-inputs2 {
  align-self: stretch;
  max-width: 100%;
}
.fp-helper-text2 {
  width: 375px;
  position: relative;
  font-size: var(--paragraph-s-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
  display: none;
  opacity: 0.5;
}
.fp-inputs2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.fp-add-on2,
.fp-label3,
.fp-left-content3 {
  font-family: var(--paragraph-m-bold);
}
.fp-label3 {
  width: 375px;
  height: 20px;
  position: relative;
  font-size: var(--paragraph-s-medium-size);
  line-height: 20px;
  font-weight: 500;
  color: var(--general-black);
  text-align: left;
  display: none;
  opacity: 0.5;
  max-width: 100%;
}
.fp-add-on2,
.fp-left-content3 {
  font-size: var(--paragraph-m-bold-size);
  color: var(--general-black);
}
.fp-left-content3 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
}
.fp-add-on2 {
  width: 52px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  display: none;
}
.fp-linear-iconseye-slash2 {
  height: 22px;
  width: 22px;
  position: relative;
  object-fit: cover;
}
.fp-linear-iconseye-slash2:hover {
  cursor: pointer;
}
.fp-payments-visa2 {
  align-self: stretch;
  width: 34px;
  position: relative;
  border-radius: var(--br-9xs);
  max-height: 100%;
  object-fit: cover;
  display: none;
  min-height: 24px;
}
.fp-right-content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-8xs);
  opacity: 0.5;
}
.fp-input-frame3,
.fp-label-frame3 {
  align-self: stretch;
  display: flex;
}
.fp-input-frame3 {
  border-radius: var(--br-5xl);
  border: 1px solid rgba(0, 0, 0, 0.2);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  height: 45px;
}
.fp-label-frame3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  max-width: 100%;
}
.fp-helper-text34 {
  width: 100%;
  height: 20px;
  position: relative;
  font-size: var(--paragraph-s-medium-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
  display: block;
  opacity: 1;
  max-width: 100%;
  left: 15px;
  top: 5px;
}
.fp-inputs-parent,
.fp-inputs3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.fp-inputs-parent {
  gap: var(--gap-xl);
}
.fp-rectangle {
  border-radius: var(--br-5xl);
  background-color: var(--general-black);
}
.fp-button,
.fp-path-icon,
.fp-rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fp-path-icon {
  height: 25%;
  width: 41.67%;
  top: 37.5%;
  right: 29.17%;
  bottom: 37.5%;
  left: 29.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.fp-checked1,
.fp-group {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fp-checked1 {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.fp-rectangle-parent {
  height: 24px;
  width: 24px;
  position: relative;
}
.fp-accept {
  font-weight: 500;
  font-family: var(--paragraph-m-bold);
  color: var(--color-gray-200);
}
.fp-legal-agreements {
  letter-spacing: -0.5px;
  font-weight: 500;
  font-family: var(--font-albert-sans);
  color: var(--sea-70);
  text-decoration: none;
}
.fp-div {
  position: relative;
  font-size: var(--paragraph-m-bold-size);
  line-height: 20px;
  text-align: left;
}
.fp-basic-components-control-ele,
.fp-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fp-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.fp-basic-components-control-ele {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.fp-vector1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--general-black);
}
.fp-linear-iconsplaceholder1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.fp-button1 {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  font-family: var(--paragraph-m-bold);
  color: var(--general-black);
  text-align: left;
  min-width: 59px;
  white-space: nowrap;
}
.fp-vector2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--general-black);
}
.fp-linear-iconsplaceholder2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.fp-text-button {
  cursor: pointer;
  border: 0;
  padding: 14px var(--padding-xl);
  background-color: var(--sun-50);
  align-self: stretch;
  border-radius: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.fp-basic-components-control-ele-parent,
.fp-frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fp-basic-components-control-ele-parent {
  align-self: stretch;
  gap: 24px;
}
.fp-frame-parent {
  margin: 0;
  width: 400px;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.fp-already-have-an {
  position: relative;
  line-height: 20px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.fp-already-have-an-account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.fp-linear-iconsarrow-left,
.fp-linear-iconsarrow-left1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  mix-blend-mode: normal;
}
.fp-more {
  position: relative;
  font-size: var(--paragraph-m-bold-size);
  line-height: 20px;
  display: inline-block;
  font-family: var(--paragraph-m-bold);
  color: var(--sea-70);
  text-align: left;
  min-width: 40px;
  white-space: nowrap;
}
.fp-vector3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--sea-70);
}
.fp-linear-iconsplaceholder3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.fp-text-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 0;
  background-color: transparent;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.fp-frame-group,
.fp-sign-up-inner2,
.fp-text-button1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.fp-frame-group {
  justify-content: flex-start;
  gap: 3px;
}
.fp-sign-up-inner2 {
  width: 400px;
  justify-content: center;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  top: 2.5rem;
  z-index: 99;
  position: relative;
  max-width: 100%;
}
.fp-sign-up2 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.fp-sign-up2 {
  flex: 1;
  border-radius: var(--br-41xl);
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  padding: 12rem var(--padding-2xl) var(--padding-21xl) var(--padding-xl);
  /* gap: 75px; */
  min-width: 529px;
  max-width: 100%;
  font-size: var(--paragraph-m-bold-size);
  color: var(--color-gray-200);
  min-height: 840px;
  height: 100vh;
}

@media screen and (max-width: 850px) {
  .fp-transact-across-190countries {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .fp-features {
    padding-top: var(--padding-7xl);
    padding-bottom: 77px;
    box-sizing: border-box;
  }
  .fp-create-account {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .fp-sign-up2 {
    padding-top: 110px;
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .fp-features {
    gap: var(--gap-xl);
  }
  .fp-sign-up2 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .fp-transact-across-190countries {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
  .fp-features {
    padding-top: var(--padding-xl);
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .fp-create-account {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
  .fp-input-frame {
    flex-wrap: wrap;
  }
  .fp-frame-parent {
    gap: var(--gap-xl);
  }
  .fp-sign-up2 {
    gap: 66px;
    padding-top: 71px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}

.fp-welcome-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fp-welcome-message {
  font-weight: 600;
}

.fp-error-email {
  color: brown;
  display: block;
}

.fp-helper-text34 a {
  text-decoration: none;
}

.fp-checkbox-wrapper-18 .fp-round {
  position: relative;
}

.fp-checkbox-wrapper-18 .fp-round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: block;
}

.fp-checkbox-wrapper-18 .fp-round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
}

.fp-checkbox-wrapper-18 .fp-round input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.fp-checkbox-wrapper-18 .fp-round input[type="checkbox"]:checked + label {
  background-color: black;
  border-color: black;
}

.fp-checkbox-wrapper-18 .fp-round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.fp-error-message {
  color: brown;
  font-size: 12px;
  text-align: left;
  height: auto;
  display: flex;
  gap: 10px;
}

.fp-error-div {
  border: 1su-5px solid brown !important;
  background: white !important;
}

.fp-containertext1 {
  padding: 5px 10px;
  width: 9.5rem;
  border: none;
}

.fp-containertext1:focus-visible {
  outline: none;
}
